#language {
  padding: 10px;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}

#language > div {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin:10px
  }


#language > div:hover {
  transform: scale(1);
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);}

#language h2 {
  font-size: clamp(1rem, 2vw, 1.8rem);
}




@media screen and (max-width: 768px) {
  #language{
    display: flex;
    flex-direction: column;
    }
    #language > div{
      display: flex;
      flex-direction: row;
      }
  
  }


#contact {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 80px;
  margin: 10px;
  background-color: var(--h2-light);
  border: var(--border-light);
  margin-bottom: 50px;
}

body.dark-mode #contact {
  background-color: var(--h2-dark);
  border: var(--border-dark);
}

#contact div {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#contact img {
  height: 30px;
  width: 30px;
}

body.dark-mode #Github img {
  filter: brightness(0) invert(1);
}


@media screen and (max-width: 768px) {
  #contact {
    gap: 20px;
    font-size: 15px;
  }
}