#language {
  padding: 10px;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 25px;
}

#language > div {
  width: auto;
  height: auto;
  border-radius: 50px;
  padding: 10px;
}

#language > div:hover {
  background-color: rgba(255, 0, 0, 0.074);
}

#language h2 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

#contact {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 25px;
  background-color: var(--h2-light);
  border: var(--border-light);
  margin-bottom: 50px;
}

body.dark-theme #contact {
  background-color: var(--h2-dark);
  border: var(--border-dark);
}

#contact div {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#contact img {
  height: 40px;
  width: 40px;
}

body.dark-mode #Github img {
  filter: brightness(0) invert(1);
}
